*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: minhaFonte;
    src: url(../fontes/Pangolin/Pangolin-Regular.ttf);
}
:root{

    --primaryColor: #fffafa ;
    --secondaryColor: #212121;
}

.darkTheme{
    --primaryColor:#000106;
    --secondaryColor:  #fffafa ;
}

body{
    background-color: var(--primaryColor);
    font-family: minhaFonte;
    padding: 10px;
}


#head{
    padding-top: 12px;
    width: 100%;
    height: 4rem;
    text-align: center;
    display: inline;
    color: var(--secondaryColor);
}

#container{
    width: 100rem;
    height: 50rem;
    border: 1px solid var(--secondaryColor);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: auto;
}

.section{
    width: 20rem;
    height: 15rem;
    background-color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
    border-radius: 5px;
    margin-top: 3rem;
    margin-left: 2rem;
}

.temperatureTitle{
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondaryColor);
}

.camp{
    display: block;
    margin: auto;
    width: 10rem;
    height: 1.5rem;
    outline: none;
    border-radius: 5px;
    padding: 2px;
    font-family: minhaFonte;
}

.camp:focus{
    border-color: #b3b3ff;
}

.btn{
    width: 4rem;
    height: 2rem;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border: none;
    border-radius: 2px;
    display: block;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    font-family: minhaFonte;
}

.btn:active{
    transform: scale(0.95);
}

.result{
    font-size: 25px;
    text-align: center;
    margin-top: 2rem;
    color: var(--secondaryColor);
}

#btn{
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: none;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

#btn:active{
    transform: scale(0.95);
}